<div class="col-4 mx-auto">
    <h2>Ingreso a Administración de CRH</h2>
    <table class="table table-bordered table-striped">
        <form name="form" >
            <div class="form-group">
                <label for="username">Username</label> 
                <input type="text" class="form-control form-control-sm" placeholder="Introduzca su usuario" id="inputUsuario" formControlName="usuario" required> 
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="text" class="form-control form-control-sm" placeholder="Introduzca su contrasena" id="inputContrasena" formControlName="contrasena" required> 
            </div>
            <div class="form-group">
              
                <div align="center">
                    <a routerLink="/home"><button class="btn btn-primary">Entrar</button></a>
                    <a routerLink="/register"><button class="btn btn-primary">Registarse</button></a>
                </div>
            </div>
        </form>
    </table>    
</div>
