<section>
	<div class="container">
		<h2>Crear Nueva Planilla de Turnos</h2>
		<label id='semana'>Semana:	{{semana?.fecha_inicio | date}} -- {{semana?.fecha_fin | date}}</label>
		<div align="center">
			<label>Día:</label>
			<select [(ngModel)]="id_dia" id='sdia'>
				<option *ngFor = "let dias of ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']; let i = index " value="{{i}}">{{dias}}</option>
			</select>
			<label>Turno:</label>
			<select [(ngModel)]="id_turno" id='sturno'>
				<option *ngFor = "let n of [0,1,2,3,4,5,6,7,8]" value="{{n}}">{{n+8}}:00</option>
			</select>
			<label>Actividad:</label>
			<select [(ngModel)]="id_cargo" id='scargo'>
				<option *ngFor = "let cargo of cargos; let i = index " value="{{i}}">{{cargo}}</option>
			</select>
			<label>Empleado:</label>
			<select [(ngModel)]="id_empleado" id='sempleado'>
				<ng-template ngFor let-key [ngForOf]="objectKeys(empleados)"; let-i = index>
				    <option *ngIf="empleados[key].cargo == cargos[id_cargo]" value={{i}}>{{empleados[key].nombre}}</option>
				</ng-template> 
			</select>
			<button (click)="agregarTurno()">Agregar Turno</button>
		</div>
		<h1>Horarios</h1>
		<table>
			<tr>  
				<th>Horas</th>
				<th *ngFor = "let day of ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']">{{day}}</th>
			</tr>
			<tr *ngFor = "let n of [0,1,2,3,4,5,6,7,8]">
				<td> {{n+8}}:00 - {{n+9}}:00</td>
				<td *ngFor="let dia of semana?.dias">
					<ng-template [ngIf]="dia.turnos[n].empleado">
						{{empleados[dia.turnos[n].empleado].nombre}} - {{empleados[dia.turnos[n].empleado].cargo}}
						<button (click) = "eliminarTurno(dia.turnos[n])" class="botonRound">x</button>
					</ng-template>
				</td>
			</tr>
			<br>
		</table>
		<div align="center">
			<a routerLink="/mostrarPlanillas"><button (click)="modificarPlanilla()">Guardar planilla</button></a>
		</div>
	</div>
	<br>
</section>