#tituloTablaHorario { 
	text-align: center;
}#tablaHorario {
	font-family: sans-serif;
	width: 80%;
	margin: auto;
	table-layout: fixed;
	border-collapse: separate;
}
#trTablaHorario:nth-child(even) {
	background-color: #D5F5E3;
}
#tdTablaHorario:hover {
	border-color: #17a2b8;
}
#tablaModal th {
	background-color: #00ad84;
	color: #d5f5dd;
}
#btnRedondo {
	color: #d5f5e3;
    background-color: #00ad84;
	border-radius: 10px;
	border: none;
	font-size: 10px;
}
#btnRedondo i {
	color:#d5f5dd;
}
select {
	margin-right: 3%;
	min-width: 8%;
}
label {
	font-weight: bold;
}
td, th {
	text-align: center;
	vertical-align: middle;
	padding: 1px;
}
i {
	color:grey;
}
