<div class="container">
	<h1>Registro de planillas</h1>
	<table class="table table-bordered table-responsive" id="tabla">
		<tr>
			<th>Fecha</th>
			<th>Opciones</th>
		</tr>
		<tr *ngFor="let planilla of planillas; let i = index ">
			<td>{{planilla.fecha_inicio | date}}</td>
			<td>
				<a routerLink="/verPlanilla/{{planilla.fecha_inicio}}"><button class="btn btn-info">Ver Planilla</button></a>
				<a routerLink="/modificarPlanilla/{{planilla.fecha_inicio}}"><button class="btn btn-primary">Modificar Planilla</button></a>
				<button class="btn btn-danger" (click)="eliminarPlanilla(planilla.fecha_inicio,i)">Eliminar</button>
			</td>
		</tr>
	</table>
</div>
<br>
<div align="center">
	<a routerLink="/crearPlanilla"><button class="btn btn-primary">Crear planilla</button></a>
</div>	
