<h1>Registro de planillas</h1>
<section>
	<div class="container">
		<table align="center">
			<tr>
				<th>Fecha</th>
				<th>Opciones</th>
			</tr>
			<tr *ngFor="let planilla of planillas; let i = index ">
				<th>{{planilla.fecha_inicio | date}}</th>
				<th>
					<a routerLink="/modificarPlanilla/{{planilla.fecha_inicio}}"><button>Modificar Planilla</button></a>
					<button (click)="eliminarPlanilla(planilla.fecha_inicio,i)">Eliminar</button>
					<a routerLink="/verPlanilla/{{planilla.fecha_inicio}}"><button>Ver Planilla</button></a>
				</th>
			</tr>
		</table>
	</div>
</section>
<div align="center">
	<a routerLink="/crearPlanilla"><button>Crear planilla</button></a>
</div>	