#tablaHorario {
	font-family: sans-serif;
	width: 80%;
	margin: auto;
	table-layout: fixed;
	border-collapse: separate;
}
td, th {
	text-align: center;
	vertical-align: middle;
	padding: 1px;
}
th {
	background-color: #00ad84;
	color: #d5f5dd;
}