#sdia {
	width: 7%
}
#scargo {
	width: 8%
}
#sempleado {
	width: 7%
}
#semana {
	padding-left: 10%
}
select {
	margin-right: 3%;
	min-width: 50px
}
table {
	font-family: times, sans-serif;
	border-collapse: separate;
	table-layout: fixed;
	width: auto;

}
td, th {
	border: 2px solid #117864;
	text-align: center;
	
}
tr:nth-child(even) {
	background-color: #D5F5E3;
}
label {
	font-weight: bold;
}
h1 {
	text-align: center;
}
h2 {
	padding-left: 120px;
}
div {
	padding-top: 10px;
}
.container {
	padding-top: 25px;
}
.botonRound {
	float: right;
	border-radius: 10px; 
	font-size: 10px;
}