<div class="container my-3">
	<h2>Ver Planilla de Turnos</h2>
	<label class="ml-5">Semana:	{{planilla?.fecha_inicio | date}} -- {{planilla?.fecha_fin | date}}</label>
	<h1 id="tituloTablaHorario">Horarios</h1>
	<table class="table table-bordered table-responsive" id="tablaHorario">
		<tr>  
			<th>Horas</th>
			<th *ngFor = "let day of diasSemana">{{day}}</th>
		</tr>
		<tr *ngFor = "let n of [0,1,2,3,4,5,6,7,8]" id="trTablaHorario">
			<td> {{n+8}}:00 - {{n+9}}:00</td>
			<td (click)="detalleTurno(i,n,modal)" id="tdTablaHorario" *ngFor="let dia of planilla?.dias; let i = index ">
				<i *ngIf="dia?.turnos[n].empleados.length" [ngClass]="(dia?.turnos[n].empleados.length>1)?'fa fa-users':'fa fa-user'"></i>
			</td>
		</tr>
		<br>
	</table>
	<br>
	<div align="center">
		<a routerLink="/mostrarPlanillas"><button class="btn btn-primary">Atrás</button></a>
	</div>
</div>
<ng-template #modal let-c="close">
	<div class="modal-header">
		<h5 class="modal-title">{{diasSemana[diaSeleccionado]}} {{planilla.dias[diaSeleccionado].fecha | date}}</h5>
		<button class="close" (click)="c()">
        	<span>×</span>
        </button>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-responsive" id="tablaModal">
			<th>Funcionario</th>
			<th>Actividad</th>
			<tr *ngFor="let key of planilla.dias[diaSeleccionado].turnos[turnoSeleccionado].empleados">
				<td>{{empleados[key].nombre}}</td>
				<td>{{empleados[key].cargo}}</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<label>{{turnoSeleccionado+8}}:00 - {{turnoSeleccionado+9}}:00</label>
	</div>
</ng-template>