<section>
	<div class="container">
		<label id='semana'>Semana:	{{semana?.fecha_inicio | date}} -- {{semana?.fecha_fin | date}}</label>
		<h1>Horarios</h1>
		<table>
			<tr>  
				<th>Horas</th>
				<th *ngFor = "let day of ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo']">{{day}}</th>
			</tr>
			<tr *ngFor = "let n of [0,1,2,3,4,5,6,7,8]">
			<td> {{n+8}}:00 - {{n+9}}:00</td>
			<td *ngFor="let dia of semana?.dias">
				<table id="nestedTable">
					<ng-template ngFor let-key [ngForOf]="dia.turnos[n].empleado"; let-i = index>
					    <tr id="nestedTr">
					    	<td style="width: 80% ;border: none">{{empleados[key].nombre}}<br>{{empleados[key].cargo}}</td>
					    
					    </tr>
					</ng-template>
				</table>
			</td>
			<br>
		</table>
		<div align="center">
			<a routerLink="/mostrarPlanillas"><button>Atrás</button></a>
		</div>
	</div>
	<br>
</section>