<h1 align="middle">Bienvenidos a la Administración de CRH</h1>
<!DOCTYPE html>
<html>

<body>

<img id="banner" src="/imagenes/banner1.jpg" align="middle" />

	<div class="tm-footer tm-block">
		<div class="uk-container uk-container-center">
			<footer class="uk-margin-large-top uk-text-center">
				<div class="uk-panel">
					<h4 style="text-align:left;">
					  Clínica de Reproducción Humana<br />
					  Universidad de Valparaíso<br />
					  Hontaneda 2664<br />
					  Valparaíso<br />
					  <a href="tel:+56322507313"><i class="uk-icon-phone"></i> +56 32 250 7313</a><br />
					  <a href="mailto:clinica.reproduccion@uv.cl"><i class="uk-icon-envelope"></i> clinica.reproduccion@uv.cl</a><br />
					  <a href="https://www.facebook.com/reproduccionUV" target="_blank"><i class="uk-icon-facebook"></i> Síguenos en Facebook</a>
					</h4>
				</div>
				<a class="tm-totop-scroller" data-uk-smooth-scroll href="#"></a>	
			</footer>
		</div>
	</div>

	
		

</body>
</html> 




	